body{
    margin: 10px;
    padding: 4px;
    background-image: url("https://images.unsplash.com/photo-1681195035338-bbdea7af2bf3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=505&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border-radius: 20px;
}
form{
    background-color: rgba(255, 255, 255, 65%) ;
    background-size:auto;
    padding: 20px; 
    border-radius: 20px;
    margin:50px;
    width:600px;
}
.flex{
    justify-content: center;
    display: flex;
}
p,label,h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    text-decoration: underline;
}
button{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    border-color: solid rgb(255, 255, 255);
    border-radius: 20px;
    cursor:pointer;
}
input[type=checkbox]{
    cursor:pointer;
}
.button{
    text-align: center;
}
.terms{
    text-align: center;
    font-size: 15px;
}
input,fieldset {
    border-radius: 5px;
    border-color: rgba(3, 77, 1, 0.5) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255, 10%) ;
}
.name,.contact,.password{
    font-size: 17px;
    font-family: arial;
}
td{
    text-align: center;
}
th{
    text-align: left;
    font-weight: normal;
}
input[type=submit]{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 20px;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor:pointer;
}
.button{
    align-content: center;
}
.same input{
    border: 2px solid black;
    border-radius: 30px;
    padding: 4px;
}

.same.success input {
    border-color: #2ecc71;
}

.same.error input {
    border-color: #e74c3c;
}

.same i {
    visibility: hidden;
    
}

.terms i {
    visibility: hidden;
}


.same small {
    color: #e74c3c;    
    visibility: hidden;
}

.same.error small {
    visibility: visible;
    margin-left: 70px;
}

.terms small {
    color: #e74c3c;
    visibility: hidden;
}

.terms.error small {
    visibility: visible;
}

.same.error i.fa-circle-exclamation {
    color: #e74c3c;
    visibility: visible;
}

.terms.error i.fa-circle-exclamation {
    color: #e74c3c;
    visibility: visible;
}
.same.success i.fa-circle-check {
    color: #2ecc71;
    visibility: visible;
}

.terms.success i.fa-circle-check {
    color: #2ecc71;
    visibility: visible;
}
@media (max-width: 1024px){
    body {
        background-image: url("https://images.unsplash.com/photo-1613408181923-f058a1b0e00c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
    }
}